* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.05); /* Ainda mais transparente */
 /* Fundo branco com transparência */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); /* Sombra mais escura */
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* Texto branco */
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff; /* Texto branco */
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF6600; /* Botão laranja */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65c00; /* Cor mais escura ao passar o mouse */
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #FF6600; /* Texto laranja */
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}
